* {
	font-family: Consolas;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.image {
    position: absolute;
    top: 50%;
	left: 0;
	right: 0;
    width: 300px;
    height: 300px;
	margin-left: auto;
	margin-right: auto;
    animation: rotation 2s infinite linear;
	z-index: -1;
}

#center {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	padding: 10px;
}


@keyframes bgcolor {
    0% {
        background-color: yellow
    }

    30% {
        background-color: red
    }

    60% {
        background-color: blue
    }

    90% {
        background-color: green
    }

    100% {
        background-color: purple
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: darkgrey;
	min-height: 100vh;
}


#logo {
	width: 500px;
	height: 150px;
}

#title {
	width: 900px;
	height: 200px;
}

#headdiv {
	background-color: #F7B10C;
	border-bottom: 1px solid black;
}

#header {
	
}

#headerinfo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main {
	width: 1600px;
	margin: 0 auto;
	background-color: white;
}

#displaydiv {
	display: flex;
	width: 100%;
	background-color: lightblue;
}

.inline-div {
	display: flex;
	flex-flow: column wrap;
	width: 50%;
	height: 450px;
	justify-content: center;
	align-items: center;
}

.form-control{
	height: 400px;
	width: 700px;
	resize: none;
}

.field-label {
	font-weight: bold;
}

@media (max-width: 1600px) {
  #main {
	  width: 100%;
  }
  
  .form-control {
	  width: 100%;
  }
  
  #headerinfo {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	}
	
	#logo {
	width: 600px;
	height: 100px;
	}

	#title {
		width: 600px;
		height: 100px;
	}
}
@media (max-width: 650px) {
  #main {
	  width: 100%;
  }
  
  .form-control {
	  width: 100%;
  }
  
  #headerinfo {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	}
	
	#logo {
	width:  300px;
	height: 75px;
	}

	#title {
		width: 300px;
		height: 75px;
	}
	
	#displaydiv {
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}
	
	.inline-div {
		width: 95%;
	}
}