
{% extends 'plagiat/index.html' %}

{% block content %}
<center>
	<h1>Übereinstimmung der Dateien: {{result}}%</h1>
</center>
<div id="main">
	<div id="displaydiv">
		<div class="inline-div">
			<label class="field-label" for="text1">{{filename}}:</label>
			<textarea id="text1" name="text1" readonly spellcheck="false" class="form-control">{% for x in f1_cont %}{{x}}{% endfor %}
			</textarea>
		</div>

		<div class= "inline-div">
			<label class="field-label" for="text2">{{filename2}}:</label>
			<textarea id="text2" name="text2" readonly spellcheck="false" class="form-control">{% for x in f2_cont %}{{x}}{% endfor %}
			</textarea>
		</div>
	</div>
</div>
{% endblock %}