<div id="headdiv">
	<div id="header">
		{% load static %}
		<link rel="stylesheet" href="{% static 'plagiat/css/style.css' %}"/>
		<div id="headerinfo">
			<img id="logo" src="{% static 'plagiat/images/logo.png' %}" alt="Hello world found at line one"/>
			<img id="title" src="{% static 'plagiat/images/title.png' %}" alt="Titlepic"/>
		</div>
	</div>
</div>
<img class="image" src="{% static 'plagiat/images/python.png' %}" alt="" width="120" height="120">
<body>
	<div id="main">
		<div id="center">
			<h3>Wähle zwei Python Dateien, welche miteinander verglichen werden sollen:</h3>
			<form name="x" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="f1">
				<br>
				<br>
				<input type="file" name="f2">
				<br>
				<br>
				<button type="submit">Dateien überpüfen!</button>
			</form>
		</div>
			{% block content %}
			{% endblock %}
	</div>
</body>